
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');

/* GLOBALS */

h1, h2, h3, h4, h5, h6, p {
  color: white;
  margin-bottom: 3;
  font-family: 'Red Rose', cursive;
}

.App {
  text-align: center;
}

p {
  line-height: .4;
}

.bodyOfGame {
  background-color: lightpink;
}


/* GAME */

.gameWrapper {
  margin-top: 60px;
   border: 5px double #5c5959;
   background-color: #1d211e;
}

.carrotTopLogo {
 border: 5px double #5c5959;
  /* height: 70px; */
  background-color: #1d211e;
}

.gameTitle {
border: 5px double #5c5959;
   background-color: #1d211e;
}

.stats {
  border: 5px double #5c5959;
 background-color: #1d211e;
  height: 200px;
}

.enemyDisplay {
  border: 5px double #5c5959;
 background-color: #1d211e;
}

.enemyImage {
  border: 5px double #5c5959;
 background-color: #1d211e;
}

.mainDisplay {
  border: 5px double #5c5959;
 background-color: #1d211e;
   height: 270px;
}




.gameTitleText {
  font-family: 'Metal Mania', cursive;
  text-align: center;
  font-size: 48px;
  color :#8a0303;
}

.carrotTopThumbNail {
  height: 65px;
}

