
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');

/* GLOBALS */

h1, h2, h3, h4, h5, h6, p {
  color: white;
  margin-bottom: 3;
  font-family: 'Red Rose', cursive;
}

.App {
  text-align: center;
}

p {
  line-height: .4;
}

.bodyOfGame {
  background-color: lightpink;
}


/* GAME WRAPPERS */

.gameWrapper {
  margin-top: 60px;
  border: 5px double #5c5959;
  background-color: #1d211e;
}

.carrotTopLogo {
 border: 5px double #5c5959;
  /* height: 70px; */
  background-color: #1d211e;
}

.gameTitle {
  border: 5px double #5c5959;
  background-color: #1d211e;
}

.stats {
  border: 5px double #5c5959;
  background-color: #1d211e;
  min-height: 200px;
  min-width: 200px;
}

.comedianText {
  margin-top: 10px;
}

/* ENEMY PICTURE DISPLAY */

.enemyDisplay {
  border: 5px double #5c5959;
  background-color: #1d211e;
  min-width: 200px;
}

.enemyPicture {
  height: 220px;
}

.enemyPictureDisplay {
  border: 5px double #5c5959;
  background-color: #1d211e;
  padding: 0;
}

.enemyPictureContainer {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}


.mainDisplayOne {
  padding-top: 20px;
  border: 5px double #5c5959;
  background-color: #1d211e;
  min-height: 270px;
  text-align: center;
}



/* GAME WRAPPER CONTENT */
.gameTitleText {
  font-family: 'Metal Mania', cursive;
  text-align: center;
  font-size: 48px;
  color :#8a0303;
}

.carrotTopThumbNail {
  height: 65px;
}

.statText {
  line-height: .9;
}


/* LANDING */

.landingWrapper{
  border: 5px double #5c5959;
  background-color: #1d211e;
  padding: 20px;
  text-align: center;
  border: 5px double white;
  width: 1000px;
  min-height: 550px;
  margin: 0 auto;
  margin-top: 60px;
  background-image: url(./media/blood_pix.png);
}

.landingHeader {
  font-family: 'Metal Mania', cursive;
  letter-spacing: 23px;
  font-size: 28px;
  /* color :#8a0303; */
  color: white;
  margin-top: 300px;
}

.startGameButtonText {
  letter-spacing: 2px;
  margin-top: 0;
  font-size: 20px;
}

/* INTRO */

.introWholeWrapper {
  border: 5px double #5c5959;
  background-color: #1d211e;
  /* padding: 20px; */
  text-align: center;
  border: 5px double white;
  width: 1000px;
  min-height: 550px;
  margin: auto 0;
  margin-top: 60px;
  background-image: url(./media/blood_pix.png);
}

.introHeader {
  font-family: 'Metal Mania', cursive;
  font-size: 58px;
  letter-spacing: 12px;
}

.introStoryText {
  font-size: 18px;
}

.Typewriter__cursor{
   color: rgba(0, 0, 0, 0.0);
}

.carrotTopIntroImage {
  height: 400px;
  position: sticky;
  bottom: 0;
  top: 200px;
   z-index: 1;
  /* position: absolute; */
}

.landingContinueButton{
  margin-top: 100px;
  letter-spacing: 2px;
  font-size: 20px;
    position: sticky;
  bottom: 0;
    /* border: 5px double white; */
}


/* CREATE CHARACTER */
.submitNameInput {
  background-color: #1d211e;
  border-color: white;
  border: "none";
  color: white;
  outline: 0;
  border-width: 0 0 2px;
}

.mainDisplayOneText {
  color: white;
  margin-bottom: 3;
  font-family: 'Red Rose', cursive;
}

.mainDisplayTwoText {
  
}

/* BUTTONS */

.buttonText {
  text-align: center;
  font-size: 30px;
  border: double white;
  width: 190px;
  height: 40px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

.buttonTextIntro {
  text-align: center;
  font-size: 30px;
  border: double white;
  width: 190px;
  height: 40px;
  /* margin: 0 auto; */
  margin-top: 320px;
}

.beginThyAdventureButtonText {
  text-align: center;
  font-size: 30px;
  border: double white;
  width: 260px;
  height: 70px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 1;
}

.battleButtonText {
  text-align: center;
  font-size: 30px;
  border: double white;
  width: 190px;
  height: 40px;
  margin: 0 auto;

}

.battleButtonsWrapper {
  margin-bottom: 20px;
}

.attackRoll {
  margin-bottom: 0;
}

.buttonText {
  text-align: center;
  font-size: 30px;
  border: double white;
  width: 190px;
  height: 40px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

.startGameText {
  text-align: center;
  font-size: 30px;
  border: double white;
  width: 260px;
  height: 40px;
  margin: 35px auto;
}



/* VICTORY */

.victoryWrapper{
  padding: 20px;
  text-align: center;
  border: 5px double white;
  width: 1000px;
  min-height: 550px;
  margin: 0 auto;
  margin-top: 60px;
  background-image: url(./media/blood_pix.png);
  background-color: #1d211e;
}

/* CHAPTER  */

.chapterTwoWrapper {
  text-align: "center";
}